<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>Tareas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionTarea</display-name>
    <servlet-name>GestionTarea</servlet-name>
    <servlet-class>servlets.GestionTarea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTarea</servlet-name>
    <url-pattern>/GestionTarea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckearTarea</display-name>
    <servlet-name>CheckearTarea</servlet-name>
    <servlet-class>servlets.CheckearTarea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckearTarea</servlet-name>
    <url-pattern>/CheckearTarea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categoria</display-name>
    <servlet-name>Categoria</servlet-name>
    <servlet-class>servlets.Categoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categoria</servlet-name>
    <url-pattern>/Categoria</url-pattern>
  </servlet-mapping>
</web-app>